@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
*{
    font-family: Inter, system-ui;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    padding: 32px;
    line-height: 1.5;
}

.row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container{
    padding: 96px 0;
}

a{
    text-decoration: none;
    position: relative;
}

img{
    max-width: 100%;
    height: auto;
}

li{
    list-style: none;
}

.text__purple{
    color: rgb(100, 21, 255);
}

.section__sub-title{
    margin-bottom: 16px;
    text-align: center;
}

.section__sub-title--span{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.10em;
    font-size: 16px;
}

.section__title{
    text-align: center;
    width: 100%;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: rgb(36, 62, 99);
}

.section__para{
    text-align: center;
    margin: 16px 0 0 0;
    width: 100%;
    max-width: 576px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.625;
    color: rgb(124, 139, 161);
}

/*
HEADER
*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo--img{
    margin-right: 12px;
    width: 40px;
}

.nav__logo--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    letter-spacing: 0.025em;
    margin-left: 0;
    color:rgb(36, 62, 99) ;
    font-size: 24px;
    padding-bottom: 4px;
    margin-right: 24px;
}

.nav__links{
    display: flex;
}

.nav__link--anchor{
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(36, 62, 99);
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    letter-spacing: 0.025em;
    transition: all 300ms ease;

}

.nav__link--sep{
    margin-left: 48px;
}

.nav__link--anchor:hover{
    color: rgb(100, 21, 255);
    border-color: rgb(100, 21, 255);
}

.nav__link--primary-anchor,
.btn{
    background-color: rgb(100, 21, 255);
    color: rgb(247, 250, 252);
    border-radius: 9999px;
    padding: 12px 32px;
    font-weight: 600;
    letter-spacing: 0.025em;
    font-size: 14px;
    transition: all 300ms ease;
}

.nav__link--primary-anchor:hover,
.btn:hover{
    background-color: rgb(80, 17, 204);
}

.header__two--section{
    display: flex;
    padding: 96px 0;
}

.left__section{
    width: 41.6667%;
    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left__section--title{
    font-size: 48px;
    line-height: 1.25;
}

.left__section--para{
    font-size: 18px;
    margin: 32px 0;
    font-weight: 400;
    color: rgb(36, 62, 99);
}

.left__section--form-wrapper{
    position: relative;
    max-width: 448px;
}

.left__section--input{
    padding: 20px 192px 20px 32px;
    border-radius: 9999px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    border: 2px solid rgb(226, 232, 240);
    transition: all 300ms ease;
    line-height: 1.5;
}

.left__section--input:hover{
    border-color: rgb(160, 174, 192);
}

::placeholder{
    color: rgb(216, 220, 227);
    font-weight: 500;
}

.left__section--form-button{
    position: absolute;
    width: 160px;
    font-size: 100%;
    background-color: rgb(100, 21, 255);
    padding: 14px 0;
    border-radius: 9999px;
    margin: 6px 8px 6px 0 ;
    font-weight: 700;
    color: rgb(247, 250, 252);
    border: 0px;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
}

.left__section--form-button:hover{
    background-color: rgb(60, 13, 153);
}

.left__section--customers-wrapper{
    margin-top: 80px;
}

.left__section--customers-para{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: rgb(160, 174, 192);
}

.left__section--customers-img{
    margin-top: 16px;
    padding-right: 128px;
    width: 100%;
    opacity: .5;
}

.right__section{
    width: 58.3333%;
}

.right__ssection--img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right__section--img{
    max-width: 768px;
    overflow: hidden;
}

/*
FEATURES
*/
.row__feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.feature__spacer{
    margin-top: 40px;
    width: 100%;
}

.feature__services{
    display: flex;
    flex-wrap: wrap;
}

.feature__service{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    width: calc(100%/3);
    padding: 32px 24px;
}

.feature__service--img-wrapper{
    flex-shrink: 0;
    border: 1px solid rgb(226, 232, 240);
    padding: 20px 20px 12px 20px;
    border-radius: 9999px;
    text-align: center;
}

.feature__service--img{
    height: 24px;
    width: 24px;
}

.feature__service--description{
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;
}

.feature__service--title{
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.025em;
    color: rgb(36, 62, 99);
}

.feature__service--para{
    padding-top: 16px;
    font-weight: 500;
    line-height: 2;
    color: rgb(124, 139, 161);
    font-size: 16px;
    height: 96px;
}

/*
QUALITY WORK
*/

#quality-work .row{
    display: flex;
    padding: 96px 0;
}

.work__left{
    width: 50%;
    margin-right: 64px;
}

.work__right{
    width: 50%;
    flex-shrink: 0;
    position: relative;
}

#quality-work .section__sub-title,
#quality-work .section__title,
#quality-work .section__para{
    text-align: left;
}

#quality-work .btn{
    display: inline-block;
    margin-top: 32px;
}

.work__right--img{
    border: 1px solid rgb(226, 232, 240);
    border-radius: 4px;
}

.work__dots{
    position: absolute;
    right: -40px;
    bottom: 0;
    z-index: -10;
    height: 80px;
    width: 80px;
    transform: translateX(50%);
    transform: translateY(50%);
    fill: currentColor;
    color: rgb(100, 21, 255);
}

/*
STEPS
*/

#steps .row{
    display: flex;
    align-items: center;
    padding: 96px 0;
}

#steps .section__sub-title,
#steps .section__title{
    text-align: left;
}

#steps .section__title{
    line-height: 1.25;
}

.steps__left{
    width: 50%;
    position: relative;
}

.steps__right{
    max-width: 640px;
    margin-left: 64px;
    padding: 32px 0;
}

.steps__img--wrapper{
    flex-shrink: 0;
}

.steps__img{
    max-width: 100%;
    height: auto;
}

.steps__dots{
    width: 160px;
    height: 160px;
    opacity: 0.15;
    position: absolute;
    right: 240px;
    bottom: -74px;
    z-index: -2;
    fill: currentColor;
    color: rgb(100, 21, 255);
}

.steps__ul{
    margin-top: 48px;
}

.steps__li{
    display: flex;
    margin-top: 32px;
}

.steps__num{
    font-size: 36px;
    color: rgb(203, 213, 224,1);
    font-weight: 600;
    line-height: 1;
}

.steps__description{
    margin-left: 24px;
}

.steps__description--title{
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: rgb(36, 62, 99,1);
}

.steps__description--para{
    margin-top: 12px;
    max-width: 320px;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    color: rgb(113, 128, 150,1);
}

/*
VALUES
*/

#values .row{
    display: flex;
    padding: 96px 0;
}

.values__right{
    max-width: 640px;
}

.values__left{
    width: 50%;
    margin-right: 64px;
    position: relative;
}

#values .section__sub-title,
#values .section__title,
#values .section__para{
    text-align: left;
}

#values .section__title{
    line-height: 1.25;
}

.values__img{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.values__two--section-wrapper{
    display: flex;
}

.values__two--section{
    margin-top: 32px;
}

.values__two--section:first-child{
    margin-right: 32px;
}

.values__two--section-title{
    display: flex;
    align-items: center;
}

.values__two--section-img-left{
    padding: 8px;
    border-radius: 9999px;
    background-color: rgb(154, 230, 180, 1);
    color: rgb(39, 103, 73, 1);
}

.values__two--section-img-right{
    padding: 8px;
    border-radius: 9999px;
    background-color: rgb(254, 178, 178,1);
    color: rgb(155, 44, 44, 1);
}

.feather{
    width: 20px;
    height: 20px;
    display: block;
}

.values__two--section-w{
    margin-left: 12px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(36, 62, 99);
}

.values__two--section-para{
    margin-top: 16px;
    text-align: left;
    line-height: 1.625;
    color: rgb(113, 128, 150,1);
}

.values__btn--wrapper{
    margin-top: 48px;
}

/*
PRICING
*/

#pricing .row{
    padding: 96px 0;
}

.pricing__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing__plans{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.pricing__plan{
    position: relative;
    width: 100%;
    max-width: 384px;
    display: flex;
    flex-direction: column;
    margin: 64px 32px 0 10px;
    padding: 8px 32px 0 32px;
    text-align: center;
    color: rgb(26, 32, 44);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
    border-radius: 8px;
}

.pricing__plan--middle{
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: rgb(247, 250, 252);
}

.pricing__plan--middle .pricing__plan--term{
    color: rgb(237, 242, 247);
}

.pricing__plan--middle .pricing__plan--content{
    color: rgb(226, 232, 240);
}

.pricing__plan--middle .pricing__plan--people--description{
    border-color: rgb(102, 126, 234);
}

.pricing__plan--highlight{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.pricing__plan--highlight-red{
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.pricing__plan--price-description{
    display: flex;
    flex-direction: column;
    padding: 32px 0;
}

.pricing__plan--title{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.pricing__plan--price{
    font-size: 48px;
    margin: 4px 0;
    font-weight: 700;
}

.pricing__plan--term{
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(160, 174, 192);
    letter-spacing: 0.1em;
}

.pricing__plan--people--description{
    display: flex;
    flex-direction: column;
    padding: 32px;
    border: 0px solid rgb(226, 232, 240);
    border-top-width: 2px;
    border-bottom-width: 2px;
}

.pricing__plan--people{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.pricing__plan--content{
    margin-top: 20px;
    color: rgb(113, 128, 150, 1);
    font-weight: 500;
}

.pricing__plan--btn-wrapper{
    padding: 32px 64px;
}

.pricing__plan--btn{
    padding: 16px 32px;
    width: 100%;
    border-radius: 9999px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: none;
    color: rgb(247, 250, 252);
    font-weight: 700;
}

.pricing__plan--btn-green{
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.pricing__plan--btn-white{
    background-color: rgb(247 250 252);
    color: rgb(100, 21, 255);
}

.pricing__plan--btn-red{
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/*
FOOTER
*/

#footer{
    background-color: rgb(100, 21, 255);
}

.columns{
    display: flex;
    justify-content: space-between;
}
